<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BuzzyGo.Repository.Properties.Settings.BuzzyGoConnectionString"
            connectionString="Data Source=agile-l03\dshsql08_1;Initial Catalog=BuzzyGo;Persist Security Info=True;User ID=buzzy;Password=buzzy"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>