@model BuzzyGo.Model.BaseViewModel

@{
    ViewBag.Title = "DeleteConfirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Card Was Successfully Submitted to Be Deleted.</h2>
<h4>Return to your <a href='@Url.List()'>Card List</a></h4>
