@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div id="templatemo_banner">
        <h1>Welcome to BuzzyGo</h1>
        <h3>BuzzyGo is a fun way to keep track of the buzzwords you hear during the day - whether at work, home or play.</h3>
        <h6> Keep track of what you hear in a familiar BINGO-style card.<br /> Get 5 in a row and you win!</h6>
    </div>

    <script type="text/javascript">
        $(document).ready(function () {
            $('#templatemo_menu ul li a').removeClass('current');
            $('#menuhome').addClass('current');
        });
    </script>